.eleve {
    background-color: #f5f5f5;
    border: 1px solid silver;
    font-family: arial;
    padding: 30px;
    margin: 15px;
    display: inline-block;
    width: 300px;
    text-align: left;
}

:global .magie {
    color: red;
    font-weight: 500;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}